{% extends "blog/base.html" %}
{% block content %}
    <h1>Glasgow University</h1>
    <p>The University of Glasgow is a public research university located in Glasgow, Scotland. Founded in 1451, it is the fourth oldest university in the English-speaking world and one of Scotland's four ancient universities. The university has a rich history and has produced many notable alumni, including Adam Smith, the father of modern economics, and Lord Kelvin, a renowned physicist and mathematician.
    The University of Glasgow offers a wide range of undergraduate and postgraduate programs in a variety of subjects, including arts and humanities, business and economics, engineering, medicine and health sciences, and sciences. It is also home to numerous research institutes and centers, where leading academics and students collaborate on cutting-edge research in their fields.
    The university has a strong commitment to social justice and equality, and has a reputation for being inclusive and welcoming to students from all backgrounds. It has a vibrant student community and a wide range of extracurricular activities, including sports, music, and cultural societies.
    The University of Glasgow is consistently ranked among the top universities in the United Kingdom and the world, and is widely recognized for its high-quality education, innovative research, and commitment to making a positive impact on society.<br>

    Headteacher: Anton Muscatri<br>
    Enrollment: 26,635 (2017)<br>
    Founded: 1451<br>
    Founder: William Turnbull<br>
    Address: Glasgow, Glasgow Postcode: G12 8QQ<br>
    Hours of Operation: Open 24 hours<br>
    Phone number: 0141 330 2000<br></p>
{% endblock content %}
